
.internal{
width:50%;
border-style:solid;
border-color:#b6ad13 ;
border-width:20px;
display:inline-block;
margin:20px;
padding:20px;	
}


.internal2{
width:50%;
border-style:solid;
border-color:#b6ad13 ;
border-width:20px;
display:inline-block;
margin:20px;
padding:20px;
box-sizing:border-box;	
}


main{
	width:500px;
border-style:solid;
border-color:#1376b6;
border-width:1px;	
}


article{width:500px;
border-style:solid;
border-color:red;
border-width:1px;

margin-top:20px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;
}

div{width:500px;
border-style:solid;
border-color:red;
border-width:1px;	
}

section{width:500px;
border-style:solid;
border-color:red;
border-width:1px;
margin:50px;	
}


header{
width:500px;
border-style:solid;
border-color:blue;
border-width:1px;

margin:40px;


	
}

span{width:500px;
width:500px;
border-style:solid;
border-color:blue;
border-width:1px;	
}


cite{width:500px;
width:500px;
border-style:solid;
border-color:blue;
border-width:1px;	
}


bdo{border-style:solid;
border-color:brown;
border-width:3px;
width:50%;
display:inline-block;}